*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.2rem;
  color: #595959;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gothic A1', sans-serif;
}
.help {
  font-family: 'Montserrat', sans-serif;
}



/* font-family: 'Gothic A1', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */